/*通配符*/
*{
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    height: 660px;
    width: 1366px;
    overflow: hidden;
    transition: all .3s linear;
    background-image: url("../images/banner_1.png");
    background-size: 1366px;
}
.menu{
    position: absolute;
    height: 40px;
    width: 150px;
    top:20px;
    right: 10px;
}
.menu_top{
    position: absolute;
    height: 40px;
    width: 150px;
    top:0;
    z-index: 10;
    transition: all .1s linear;
}
.menu_top>img{
    position: absolute;
    top:10px;
    right: 1200px;
    width: 80%;
    cursor: pointer;
    z-index: 10;
}
.menu_img{
    position: absolute;
    height: 20px;
    width: 26px;
    overflow: hidden;
    top:10px;
    left: 40px;
}
.menu_img>img{
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.menu>.menu_son{
    position:absolute ;
    top: -20px;
    right: -180px;
    width: 170px;
    height: 660px;
    background-color: rgba(0,0,0,.7);
    z-index: 2;
    transition: all .3s linear;
}
.menu>.menu_son>ul{
    list-style: none;
}
.menu>.menu_son li:first-child{
    margin-top: 110px;
}
/*.menu>.menu_son li:last-child{*/
    /*font-size: 13px;*/
/*}*/
.menu>.menu_son li{
    cursor: pointer;
    width: 170px;
    height: 60px;
    color: #e5e5e5;
    text-align: center;
    line-height: 60px;
    position: relative;
}
.menu:hover>.menu_son{
    right: -10px;
}
.menu_top:hover{
    outline: solid 2px white;
}
.menu_cir{
    width: 12px;
    height: 12px;
    overflow: hidden;
    position: absolute;
    left: 11px;
    top:26px;
    opacity: 0;
    transition: all .2s linear;
}
.menu_cir>img{
    position: absolute;
    right: 0;
    top:0;
}
.menu>.menu_son li:hover>.menu_cir{
    opacity: 1;
}
.menu_bot{
    position: absolute;
    height: 60px;
    width: 470px;
    left: 448px;
    bottom: 40px;
}
/*!*banner图*!*/
/*!*景区描述*!*/

#div{
    position: relative;
    margin:150px 0 0 100px;
    width: 370px;
    height: 370px;
    border-radius: 370px;

}
#div p{
    /*position: absolute;*/
    color: white;
    font-family: "微软雅黑";
}
#title{
    position: absolute;
    font-size: 32px;
    /*margin:30px 0 0 70px;*/
    top:10%;
    left:20%;
}
#desc{
    position: absolute;
    width: 300px;
    height: 120px;
    /*outline: 1px solid salmon;*/
    font-size: 14px;
    /*margin: 30px 0 0 55px;*/
    top:30%;
    left: 7%;
    letter-spacing: 3px;
}
#pure{
    position: absolute;
    top:65%;
    font-size: 32px;
    color: white;
    /*margin-top: 30px;*/
    overflow: hidden;
}
h3{
    color: white;
    font-size: 36px;
    position: absolute;
    margin-top: 27.3%;
    left: 63%;
}
/*================*文字————梦幻、旅游===================*/
#dream,#visit,#swim{
    position: absolute;
    color: white;
    font-size: 30px;
}
#dream{
    top: 55%;
    left:30% ;
}
#dream span{
    margin-left: 40px ;
}
/*==============旅游=================*/
#visit{
    top:40% ;
    left:45%;
}
#swim{
    /*outline: 1px solid red;*/
    top:45%;
    left:48%
}
/*==============蓝色区域===============*/
#shape{
    position: absolute;
    width: 36%;
    height: 24px;
    background-color: #2aabd2;
    margin-top: 30.3%;
    left:63%
}
#div2{
    outline: 1px solid red;
    width: 36%;
    color: #0528b8;
    margin-top: 32%;
    margin-left: 63%;
}
.ic{
    width: 60px;
    height: 60px;
    position: absolute;
    /*transition: all .2s linear;*/
    cursor: pointer;
    border-bottom: solid 3px #a8a8a8;
}
.i1{
    left: 0;
    /*background-image: url("../images/ic_spr_01.png");*/
    background-position: 20px 0;
}
.i2{
    left:60px;
    /*background-image: url("../images/ic_spr_02.png");*/
    background-position: 5px 0;
}
.i3{
    left:120px;
    /*background-image: url("../images/ic_spr_03.png");*/
    background-position: 10px 0;
}
.i4{
    left:180px;
    /*background-image: url("../images/ic_spr_04.png");*/
    background-position: 10px 0;
}
.i5{
    left:240px;
    /*background-image: url("../images/ic_spr_05.png");*/
    background-position: 10px 0;
}
.i6{
    left:300px;
    /*background-image: url("../images/ic_spr_05.png");*/
    background-position: 10px 0;
}
.i7{
    left:360px;
    /*background-image: url("../images/ic_spr_05.png");*/
    background-position: 10px 0;
}
.txt{
    transition: all .15s linear;
}
.ctx1{
    position: absolute;
    /*left: 530px;*/
    /*top:100px;*/
    opacity: 1;
}
.ctx1>img{
    height: 70px;
}
.ck{
    width: 100px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.ck1{
    border: solid 1px black;
    margin: 40px auto 0 auto;
}
.ctx2{
    position: absolute;
    /*left: 480px;*/
    /*top:120px;*/
    opacity: 0;
}
.ctx2>img{
    height: 40px;
}
.ck2{
    border: solid 1px #ffffff;
    color: white;
    margin: 10px auto 0 auto;
}
/*.ctx3{*/
    /*position: absolute;*/
    /*!*left: 480px;*!*/
    /*!*top:120px;*!*/
    /*opacity: 0;*/
/*}*/
/*.ctx3>img{*/
    /*height: 40px;*/
/*}*/
.ck3{
    border: solid 1px black;
    color: black;
    margin: 20px auto 0 auto;
}
/*.ctx4{*/
    /*position: absolute;*/
    /*!*left: 635px;*!*/
    /*!*top:120px;*!*/
    /*opacity: 0;*/
/*}*/
/*.ctx4>img{*/
    /*width: 60px;*/
    /*margin-left: 22px;*/
/*}*/
.ck4{
    border: solid 1px white;
    color: white;
    margin: 20px auto 0 auto;
}
/*.ctx5{*/
    /*position: absolute;*/
    /*!*left: 530px;*!*/
    /*!*top:120px;*!*/
    /*opacity: 0;*/
/*}*/
/*.ctx5>img{*/
    /*height: 50px;*/
/*}*/
.ck5{
    border: solid 1px white;
    color: white;
    margin: 20px auto 0 auto;
}
a{
    text-decoration: none;
    color: white;
}
.active{
    color: #01cd9a;
}